.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background: #00000088;

    .image-body {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 10%;
        left: 25%;

        img {
            width: 100%;
        }
    }
}