.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  max-width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1 auto 0;
}

.col-4 {
  max-width: calc(33.3333334% - 30px);
  flex: 0 0 calc(33.3333334% - 30px);
}

.col-6 {
  max-width: calc(50% - 30px);
  flex: 0 0 calc(50% - 30px);
}

.link {
  color: #6d93b4;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}
